---
interface Props {
    name: string;
    grade: number;
    roles: string[];
    image: string;
}

const { name, grade, roles, image } = Astro.props;
---

<div class="bg-gray-300 rounded-lg shadow-lg">
    <img src={image} alt="placeholder" class="w-64 rounded-b-lg mx-auto" />
    <div class="p-4">
        <h2 class="text-2xl font-bold text-center">
            {name}<span class="ml-4 bg-primary p-1 rounded-md text-gray-200"
                >{grade}th</span
            >
        </h2>
        <ul
            class="sm:text-sm md:text-md lg:text-lg font-semibold flex-wrap flex flex-row text-gray-300 mt-4 justify-center"
        >
            {
                roles.sort().map((role) => {
                    switch (role) {
                        case "Programming":
                            return (
                                <p class="py-1 px-2 mx-1 text-xs rounded-md bg-yellow-500">
                                    Programming
                                </p>
                            );
                        case "Website":
                            return (
                                <p class="py-1 px-2 mx-1 text-xs rounded-md bg-purple-500">
                                    Website
                                </p>
                            );
                        case "Construction":
                            return (
                                <p class="py-1 px-2 mx-1 text-xs rounded-md bg-blue-500">
                                    Construction
                                </p>
                            );
                        case "Marketing":
                            return (
                                <p class="py-1 px-2 mx-1 text-xs rounded-md bg-green-500">
                                    Marketing
                                </p>
                            );
                    }
                })
            }
        </ul>
        <hr class="my-4 border-b-2 border-gray-500" />
        <p class="text-gray-700"><slot /></p>
    </div>
</div>
