---
interface Props {
    name: string;
    grade: number;
    roles: string[];
    image: string;
}

const { name, grade, roles, image } = Astro.props;
---

<div class="bg-gray-200 rounded-lg shadow-lg">
    <img src={image} alt="placeholder" class="w-64 rounded-t-lg mx-auto" />
    <div class="p-4">
        <h2 class="text-2xl font-bold">
            {name}<span class="ml-4 bg-primary p-1 rounded-md text-gray-200"
                >{grade}th</span
            >
        </h2>
        <ul
            class="sm:text-sm md:text-md lg:text-lg font-semibold flex-wrap flex flex-row text-gray-300 mt-4"
        >
            {
                roles.map((role) => {
                    switch (role) {
                        case "Programming":
                            return (
                                <p class="py-1 px-2 text-sm rounded-md bg-gray-600">
                                    Programming
                                </p>
                            );
                    }
                })
            }
        </ul>
        <p class="text-gray-700"><slot /></p>
    </div>
</div>
