---
interface Props {
    name: string;
    grade: number;
    duty: string;
    image: string;
}

const { name, grade, duty, image} = Astro.props;
---

<div class="bg-gray-200 rounded-lg shadow-lg">
    <img src={image} alt="placeholder" class="w-64 rounded-t-lg mx-auto">
    <div class="p-4">
        <h2 class="text-2xl font-bold">{name}<span class="ml-4 bg-primary p-1 rounded-md text-gray-200">Grade {grade}</span></h2>
        <h3 class="sm:text-sm md:text-md lg:text-lg font-semibold flex-wrap">{duty}</>
        <p class="text-gray-700"><slot /></p>
    </div>
</div>