---
import Home from "../layouts/Home.astro";
import Main from "../components/team/Main.tsx";
import { readMembers } from "../util/json";

let members = readMembers();
---

<Home title="p">
    <h1 class="text-center mt-16 text-6xl font-bold">The Team</h1>
    <Main members={members} client:only="react" />
</Home>
