---
import Home from "../layouts/Home.astro"
import TeamCard from "../components/TeamCard.astro";
---

<Home>
    <h1 class="text-center mt-16 text-6xl font-bold">The Team</h1>
    <div class="grid sm:grid-cols-2 md:grid-cols-3 xl:grid-cols-5 gap-4 mx-4 my-4 mt-16">
        <TeamCard name="John Doe" grade="6th Grade" duty="Engineer" image="/team/another.jpg">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam, voluptatum.
        </TeamCard>
        <TeamCard name="John Doe" grade="6th Grade" duty="Engineer" image="/team/another.jpg">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam, voluptatum.
        </TeamCard>
        <TeamCard name="John Doe" grade="6th Grade" duty="Engineer" image="/team/another.jpg">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam, voluptatum.
        </TeamCard>
        <TeamCard name="John Doe" grade="6th Grade" duty="Engineer" image="/team/another.jpg">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam, voluptatum.
        </TeamCard>
        <TeamCard name="John Doe" grade="6th Grade" duty="Engineer" image="/team/another.jpg">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam, voluptatum.
        </TeamCard>
        <TeamCard name="John Doe" grade="6th Grade" duty="Engineer" image="/team/another.jpg">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam, voluptatum.
        </TeamCard>
        <TeamCard name="John Doe" grade="6th Grade" duty="Engineer" image="/team/another.jpg">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam, voluptatum.
        </TeamCard>
        <TeamCard name="John Doe" grade="6th Grade" duty="Engineer" image="/team/another.jpg">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam, voluptatum.
        </TeamCard>
        <TeamCard name="John Doe" grade="6th Grade" duty="Engineer" image="/team/another.jpg">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam, voluptatum.
        </TeamCard>
        <TeamCard name="John Doe" grade="6th Grade" duty="Engineer" image="/team/another.jpg">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam, voluptatum.
        </TeamCard>
    </div>
</Home>