---
import Home from "../layouts/Home.astro";
import Card from "../components/team/Card.astro";
---

<Home title="The Team">
    <h1 class="text-center mt-16 text-6xl font-bold">The Team</h1>
    <div
        class="grid sm:grid-cols-2 md:grid-cols-3 xl:grid-cols-5 gap-4 mx-4 my-4 mt-16"
    >
        <Card
            name="Caleb Abbey"
            grade={8}
            roles={["N/A"]}
            image="/team/another.jpg"
        >
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam,
            voluptatum.
        </Card>
        <Card
            name="Nicholas Agee"
            grade={6}
            roles={["N/A"]}
            image="/team/another.jpg"
        >
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam,
            voluptatum.
        </Card>
        <Card
            name="Evelyn Althaus"
            grade={7}
            roles={["N/A"]}
            image="/team/another.jpg"
        >
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam,
            voluptatum.
        </Card>
        <Card
            name="Brayden Barnhart"
            grade={9}
            roles={["Construction"]}
            image="/team/another.jpg"
        >
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam,
            voluptatum.
        </Card>
        <Card
            name="Sydney Bell"
            grade={9}
            roles={["N/A"]}
            image="/team/another.jpg"
        >
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam,
            voluptatum.
        </Card>
        <Card
            name="Jacob Berry"
            grade={6}
            roles={["N/A"]}
            image="/team/another.jpg"
        >
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam,
            voluptatum.
        </Card>
        <Card
            name="Dominic Butler"
            grade={6}
            roles={["N/A"]}
            image="/team/another.jpg"
        >
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam,
            voluptatum.
        </Card>
        <Card
            name="Matthew Cousino"
            grade={8}
            roles={["N/A"]}
            image="/team/another.jpg"
        >
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam,
            voluptatum.
        </Card>
        <Card
            name="Lauren Ellis"
            grade={9}
            roles={["N/A"]}
            image="/team/another.jpg"
        >
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam,
            voluptatum.
        </Card>
        <Card
            name="Joshua Finfera"
            grade={6}
            roles={["N/A"]}
            image="/team/another.jpg"
        >
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam,
            voluptatum.
        </Card>
        <Card
            name="Lucas Firsdon"
            grade={9}
            roles={["Construction"]}
            image="/team/another.jpg"
        >
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Incidunt
            distinctio libero molestias eveniet! Libero rerum amet omnis. Fuga
            soluta aliquam aliquid deserunt atque aut, vitae commodi totam sunt
            natus veniam.
        </Card>
        <Card
            name="Seth Freeman"
            grade={7}
            roles={["N/A"]}
            image="/team/another.jpg"
        >
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vitae
            molestiae, aliquid id magni veniam repudiandae quidem sapiente
            blanditiis commodi inventore modi? Nobis doloremque nulla fuga vel
            voluptatum ipsa quod amet.
        </Card>
        <Card
            name="Addison Goodlet"
            grade={9}
            roles={["N/A"]}
            image="/team/another.jpg"
        >
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Laudantium
            voluptates officia temporibus quasi voluptatem aliquid esse nesciunt
            labore libero suscipit fugiat praesentium quos nihil assumenda,
            dolores porro consectetur amet voluptate.
        </Card>
        <Card
            name="Noah Grover Shuerman"
            grade={6}
            roles={["N/A"]}
            image="/team/another.jpg"
        >
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Laudantium
            voluptates officia temporibus quasi voluptatem aliquid esse nesciunt
            labore libero suscipit fugiat praesentium quos nihil assumenda,
            dolores porro consectetur amet voluptate.
        </Card>
        <Card
            name="Ethan Headley"
            grade={8}
            roles={["N/A"]}
            image="/team/another.jpg"
        >
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Laudantium
            voluptates officia temporibus quasi voluptatem aliquid esse nesciunt
            labore libero suscipit fugiat praesentium quos nihil assumenda,
            dolores porro consectetur amet voluptate.
        </Card>
        <Card
            name="Dylan Hemp"
            grade={6}
            roles={["N/A"]}
            image="/team/another.jpg"
        >
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Laudantium
            voluptates officia temporibus quasi voluptatem aliquid esse nesciunt
            labore libero suscipit fugiat praesentium quos nihil assumenda,
            dolores porro consectetur amet voluptate.
        </Card>
        <Card
            name="Carson Henline"
            grade={9}
            roles={["N/A"]}
            image="/team/another.jpg"
        >
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Laudantium
            voluptates officia temporibus quasi voluptatem aliquid esse nesciunt
            labore libero suscipit fugiat praesentium quos nihil assumenda,
            dolores porro consectetur amet voluptate.
        </Card>
        <Card
            name="Casen Henline"
            grade={9}
            roles={["Construction"]}
            image="/team/another.jpg"
        >
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Laudantium
            voluptates officia temporibus quasi voluptatem aliquid esse nesciunt
            labore libero suscipit fugiat praesentium quos nihil assumenda,
            dolores porro consectetur amet voluptate.
        </Card>
        <Card
            name="Lucas Jambor"
            grade={6}
            roles={["N/A"]}
            image="/team/another.jpg"
        >
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Laudantium
            voluptates officia temporibus quasi voluptatem aliquid esse nesciunt
            labore libero suscipit fugiat praesentium quos nihil assumenda,
            dolores porro consectetur amet voluptate.
        </Card>
        <Card
            name="Carter Joseph"
            grade={7}
            roles={["N/A"]}
            image="/team/another.jpg"
        >
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Laudantium
            voluptates officia temporibus quasi voluptatem aliquid esse nesciunt
            labore libero suscipit fugiat praesentium quos nihil assumenda,
            dolores porro consectetur amet voluptate.
        </Card>
        <Card
            name="Jordan Kieper"
            grade={12}
            roles={["Construction", "CAD"]}
            image="/team/another.jpg"
        >
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Laudantium
            voluptates officia temporibus quasi voluptatem aliquid esse nesciunt
            labore libero suscipit fugiat praesentium quos nihil assumenda,
            dolores porro consectetur amet voluptate.
        </Card>
        <Card
            name="Jeb Konczal"
            grade={7}
            roles={["N/A"]}
            image="/team/another.jpg"
        >
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Laudantium
            voluptates officia temporibus quasi voluptatem aliquid esse nesciunt
            labore libero suscipit fugiat praesentium quos nihil assumenda,
            dolores porro consectetur amet voluptate.
        </Card>
        <Card
            name="Owen Lawless"
            grade={6}
            roles={["N/A"]}
            image="/team/another.jpg"
        >
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Laudantium
            voluptates officia temporibus quasi voluptatem aliquid esse nesciunt
            labore libero suscipit fugiat praesentium quos nihil assumenda,
            dolores porro consectetur amet voluptate.
        </Card>
        <Card
            name="Andrew Makay"
            grade={12}
            roles={["Programming"]}
            image="/team/another.jpg"
        >
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Laudantium
            voluptates officia temporibus quasi voluptatem aliquid esse nesciunt
            labore libero suscipit fugiat praesentium quos nihil assumenda,
            dolores porro consectetur amet voluptate.
        </Card>
        <Card
            name="Luke Marlowe"
            grade={8}
            roles={["N/A"]}
            image="/team/another.jpg"
        >
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Laudantium
            voluptates officia temporibus quasi voluptatem aliquid esse nesciunt
            labore libero suscipit fugiat praesentium quos nihil assumenda,
            dolores porro consectetur amet voluptate.
        </Card>
        <Card
            name="Scott McKenzie"
            grade={8}
            roles={["N/A"]}
            image="/team/another.jpg"
        >
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Laudantium
            voluptates officia temporibus quasi voluptatem aliquid esse nesciunt
            labore libero suscipit fugiat praesentium quos nihil assumenda,
            dolores porro consectetur amet voluptate.
        </Card>
        <Card
            name="Austin Miller"
            grade={10}
            roles={["Marketing"]}
            image="/team/another.jpg"
        >
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Laudantium
            voluptates officia temporibus quasi voluptatem aliquid esse nesciunt
            labore libero suscipit fugiat praesentium quos nihil assumenda,
            dolores porro consectetur amet voluptate.
        </Card>
        <Card
            name="Colton Miller"
            grade={6}
            roles={["N/A"]}
            image="/team/another.jpg"
        >
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Laudantium
            voluptates officia temporibus quasi voluptatem aliquid esse nesciunt
            labore libero suscipit fugiat praesentium quos nihil assumenda,
            dolores porro consectetur amet voluptate.
        </Card>
        <Card
            name="Jack Mundrick"
            grade={6}
            roles={["N/A"]}
            image="/team/another.jpg"
        >
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Laudantium
            voluptates officia temporibus quasi voluptatem aliquid esse nesciunt
            labore libero suscipit fugiat praesentium quos nihil assumenda,
            dolores porro consectetur amet voluptate.
        </Card>
        <Card
            name="Jameson Myers"
            grade={6}
            roles={["N/A"]}
            image="/team/another.jpg"
        >
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Laudantium
            voluptates officia temporibus quasi voluptatem aliquid esse nesciunt
            labore libero suscipit fugiat praesentium quos nihil assumenda,
            dolores porro consectetur amet voluptate.
        </Card>
        <Card
            name="Elliott Nafziger"
            grade={6}
            roles={["N/A"]}
            image="/team/another.jpg"
        >
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Laudantium
            voluptates officia temporibus quasi voluptatem aliquid esse nesciunt
            labore libero suscipit fugiat praesentium quos nihil assumenda,
            dolores porro consectetur amet voluptate.
        </Card>
        <Card
            name="Zander Naplerala"
            grade={9}
            roles={["N/A"]}
            image="/team/another.jpg"
        >
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Laudantium
            voluptates officia temporibus quasi voluptatem aliquid esse nesciunt
            labore libero suscipit fugiat praesentium quos nihil assumenda,
            dolores porro consectetur amet voluptate.
        </Card>
        <Card
            name="Layla Newman"
            grade={9}
            roles={["Construction"]}
            image="/team/another.jpg"
        >
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Laudantium
            voluptates officia temporibus quasi voluptatem aliquid esse nesciunt
            labore libero suscipit fugiat praesentium quos nihil assumenda,
            dolores porro consectetur amet voluptate.
        </Card>
        <Card
            name="Lauren  Oestreich"
            grade={6}
            roles={["N/A"]}
            image="/team/another.jpg"
        >
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Laudantium
            voluptates officia temporibus quasi voluptatem aliquid esse nesciunt
            labore libero suscipit fugiat praesentium quos nihil assumenda,
            dolores porro consectetur amet voluptate.
        </Card>
        <Card
            name="Dominic Pearce"
            grade={9}
            roles={["Construction"]}
            image="/team/another.jpg"
        >
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Laudantium
            voluptates officia temporibus quasi voluptatem aliquid esse nesciunt
            labore libero suscipit fugiat praesentium quos nihil assumenda,
            dolores porro consectetur amet voluptate.
        </Card>
        <Card
            name="Landon Porter"
            grade={11}
            roles={["Construction", "Website", "Programming"]}
            image="/team/another.jpg"
        >
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Laudantium
            voluptates officia temporibus quasi voluptatem aliquid esse nesciunt
            labore libero suscipit fugiat praesentium quos nihil assumenda,
            dolores porro consectetur amet voluptate.
        </Card>
        <Card
            name="Eddie Robinson"
            grade={8}
            roles={["N/A"]}
            image="/team/another.jpg"
        >
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Mollitia
            autem sit alias veritatis animi eaque, ea itaque assumenda illum,
            eveniet ad. Qui nisi totam maxime voluptates aspernatur, est dolor
            perferendis!
        </Card>
        <Card
            name="Crosby Rollins-Morlock"
            grade={7}
            roles={["N/A"]}
            image="/team/another.jpg"
        >
            Lorem ipsum dolor sit, amet consectetur adipisicing elit. A harum
            voluptates dolores pariatur excepturi voluptate quasi qui doloremque
            amet nam, repudiandae, quaerat incidunt, accusantium minus obcaecati
            unde voluptatem tempore labore.
        </Card>
        <Card
            name="Cole Schimmoeller"
            grade={7}
            roles={["N/A"]}
            image="/team/another.jpg"
        >
            Lorem ipsum dolor sit, amet consectetur adipisicing elit. A harum
            voluptates dolores pariatur excepturi voluptate quasi qui doloremque
            amet nam, repudiandae, quaerat incidunt, accusantium minus obcaecati
            unde voluptatem tempore labore.
        </Card>
        <Card
            name="Jackson Segal"
            grade={8}
            roles={["N/A"]}
            image="/team/another.jpg"
        >
            Lorem ipsum dolor sit, amet consectetur adipisicing elit. A harum
            voluptates dolores pariatur excepturi voluptate quasi qui doloremque
            amet nam, repudiandae, quaerat incidunt, accusantium minus obcaecati
            unde voluptatem tempore labore.
        </Card>
        <Card
            name="Noah Sikora"
            grade={9}
            roles={["N/A"]}
            image="/team/another.jpg"
        >
            Lorem ipsum dolor sit, amet consectetur adipisicing elit. A harum
            voluptates dolores pariatur excepturi voluptate quasi qui doloremque
            amet nam, repudiandae, quaerat incidunt, accusantium minus obcaecati
            unde voluptatem tempore labore.
        </Card>
        <Card
            name="Billy Stark"
            grade={9}
            roles={["Construction"]}
            image="/team/another.jpg"
        >
            Lorem ipsum dolor sit, amet consectetur adipisicing elit. A harum
            voluptates dolores pariatur excepturi voluptate quasi qui doloremque
            amet nam, repudiandae, quaerat incidunt, accusantium minus obcaecati
            unde voluptatem tempore labore.
        </Card>
        <Card
            name="Caitlyn Stiner"
            grade={10}
            roles={["N/A"]}
            image="/team/another.jpg"
        >
            Lorem ipsum dolor sit, amet consectetur adipisicing elit. A harum
            voluptates dolores pariatur excepturi voluptate quasi qui doloremque
            amet nam, repudiandae, quaerat incidunt, accusantium minus obcaecati
            unde voluptatem tempore labore.
        </Card>
        <Card
            name="Julianne Stolar"
            grade={7}
            roles={["N/A"]}
            image="/team/another.jpg"
        >
            Lorem ipsum dolor sit, amet consectetur adipisicing elit. A harum
            voluptates dolores pariatur excepturi voluptate quasi qui doloremque
            amet nam, repudiandae, quaerat incidunt, accusantium minus obcaecati
            unde voluptatem tempore labore.
        </Card>
        <Card
            name="Avery Tomanski"
            grade={10}
            roles={["Construction"]}
            image="/team/another.jpg"
        >
            Lorem ipsum dolor sit, amet consectetur adipisicing elit. A harum
            voluptates dolores pariatur excepturi voluptate quasi qui doloremque
            amet nam, repudiandae, quaerat incidunt, accusantium minus obcaecati
            unde voluptatem tempore labore.
        </Card>
        <Card
            name="Aiden Tomanski"
            grade={6}
            roles={["N/A"]}
            image="/team/another.jpg"
        >
            Lorem ipsum dolor sit, amet consectetur adipisicing elit. A harum
            voluptates dolores pariatur excepturi voluptate quasi qui doloremque
            amet nam, repudiandae, quaerat incidunt, accusantium minus obcaecati
            unde voluptatem tempore labore.
        </Card>
        <Card
            name="Liam Walsh"
            grade={7}
            roles={["N/A"]}
            image="/team/another.jpg"
        >
            Lorem ipsum dolor sit, amet consectetur adipisicing elit. A harum
            voluptates dolores pariatur excepturi voluptate quasi qui doloremque
            amet nam, repudiandae, quaerat incidunt, accusantium minus obcaecati
            unde voluptatem tempore labore.
        </Card>
        <Card
            name="Matthew Ward Jr."
            grade={6}
            roles={["N/A"]}
            image="/team/another.jpg"
        >
            Lorem ipsum dolor sit, amet consectetur adipisicing elit. A harum
            voluptates dolores pariatur excepturi voluptate quasi qui doloremque
            amet nam, repudiandae, quaerat incidunt, accusantium minus obcaecati
            unde voluptatem tempore labore.
        </Card>
        <Card
            name="Isaac Wendt"
            grade={6}
            roles={["N/A"]}
            image="/team/another.jpg"
        >
            Lorem ipsum dolor sit, amet consectetur adipisicing elit. A harum
            voluptates dolores pariatur excepturi voluptate quasi qui doloremque
            amet nam, repudiandae, quaerat incidunt, accusantium minus obcaecati
            unde voluptatem tempore labore.
        </Card>
        <Card
            name="Godrik Williams"
            grade={6}
            roles={["N/A"]}
            image="/team/another.jpg"
        >
            Lorem ipsum dolor sit, amet consectetur adipisicing elit. A harum
            voluptates dolores pariatur excepturi voluptate quasi qui doloremque
            amet nam, repudiandae, quaerat incidunt, accusantium minus obcaecati
            unde voluptatem tempore labore.
        </Card>
        <Card
            name="Christine Wojcik"
            grade={7}
            roles={["N/A"]}
            image="/team/another.jpg"
        >
            Lorem ipsum dolor sit, amet consectetur adipisicing elit. A harum
            voluptates dolores pariatur excepturi voluptate quasi qui doloremque
            amet nam, repudiandae, quaerat incidunt, accusantium minus obcaecati
            unde voluptatem tempore labore.
        </Card>
        <Card
            name="Jeremy Wojcik"
            grade={9}
            roles={["N/A"]}
            image="/team/another.jpg"
        >
            Lorem ipsum dolor sit, amet consectetur adipisicing elit. A harum
            voluptates dolores pariatur excepturi voluptate quasi qui doloremque
            amet nam, repudiandae, quaerat incidunt, accusantium minus obcaecati
            unde voluptatem tempore labore.
        </Card>
        <Card
            name="Maya Zunk"
            grade={9}
            roles={["N/A"]}
            image="/team/another.jpg"
        >
            Lorem ipsum dolor sit, amet consectetur adipisicing elit. A harum
            voluptates dolores pariatur excepturi voluptate quasi qui doloremque
            amet nam, repudiandae, quaerat incidunt, accusantium minus obcaecati
            unde voluptatem tempore labore.
        </Card>
    </div>

    <span class="hullo"></span>
</Home>
