<footer class="footer footer-center p-10 bg-base-200 text-base-content rounded">
    <nav>
        <div>
            <a
                class="link link-hover"
                href="https://eastwoodschools.org"
                target="_blank"
            >
                <img class="w-32" src="/schoolLogo.webp" alt="school logo" />
            </a>
        </div>
    </nav>
    <nav class="grid grid-flow-col gap-4">
        <a href="/team" class="link link-hover">Team</a>
        <a href="/engineering" class="link link-hover">Engineering</a>
        <a href="/gallery" class="link link-hover">Gallery</a>
        <a href="https://github.com/mazylol/eastwood-robotics" class="link link-hover">Source Code</a>
    </nav>
</footer>
