<div class="navbar bg-gray-200">
    <div class="navbar-start">
      <a href="/" class="btn btn-ghost normal-case text-xl">Eastwood Robotics</a>
    </div>
    <div class="navbar-center hidden lg:flex">
      <ul class="menu menu-horizontal px-1 text-xl font-semibold">
        <li><a href="/team">Team</a></li>
        <li><a>Robot</a></li>
        <li><a>History</a></li>
      </ul>
    </div>
    <div class="navbar-end">
      <a class="btn">Button</a>
    </div>
  </div>